---
Description: Verified profiles are the best profiles  
Last Updated: 2024-02-29 05:44 PM EST
---

# Profile Verification

If you see the official checkmark badge <i style="color: #0089cf;" class="fas fa-badge-check"></i> on a profile, it means that you’re viewing a verified profile. You can trust that the person is who they say they are! At least by our reasonable omg.lol standards, that is (lol).

These verifications can also be verified (pun intended) by typing the address into the [Lookup tool](https://home.omg.lol/lookup).

If you’d like to be verified, just [contact us](/info/contact/) to kick off the process. We also sometimes automatically verify people who we know to be real, so if that happened to you, congrats!

[Read more about profiles on omg.lol](/info/profiles).

## The PramiMark

If you see the PramiMark <i style="color: #0089cf;" class="omg-icon omg-prami-staff"></i> on a profile, it means that you’re viewing the profile of an [omg.lol staff member](https://staff.lol). As this is intended to be an indicator of trust, we ask that you please not attempt to render the PramiMark or any related icon or variant on your own profile page. Doing so will make Prami sad.
