---
Description: Verified profiles are the best profiles  
Last Updated: 2022-10-08 01:52 AM EDT
---

# Profile Verification

If you see the official checkmark badge <i style="color: #0089cf;" class="fas fa-badge-check"></i> on a profile, it means that you’re viewing a verified profile. You can trust that the person is who they say they are! At least by our reasonable omg.lol standards, that is (lol).

If you’d like to be verified, just [contact us](/info/contact/) to kick off the process. We also sometimes automatically verify people who we know to be real, so if that happened to you, congrats!

[Read more about profiles on omg.lol](/info/profiles).
