@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
	--verified: #fabc02;
}

* {
	font-family: 'Nunito', sans-serif;
}

a, h1, li, div {
	color: white !important;
}

body {
	background: #000 !important;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	background-color: #212121;
	box-shadow: 8px 8px 0px rgba(255, 255, 255, 0.06);
	width: 25em;
	margin: 15px;
}

#profile-picture {
	border-radius: 50% !important;
	box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);
}

i {
	color: #fabc02 !important;
}

@media (max-height: 620px) {
	body {
		overflow: auto;
		height: auto;
	}
}
