.omg-anilist:before { content: "\e044"; }
.omg-archiveofourown:before { content: "\e045"; }
.omg-basic-attention-token:before { content: "\e046"; }
.omg-bookshop:before { content: "\e047"; }
.omg-buymeacoffee:before { content: "\e048"; }
.omg-cash-app:before { content: "\e049"; }
.omg-clarus:before { content: "\e061"; }
.omg-clubhouse:before { content: "\e052"; }
.omg-coindrop:before { content: "\e050"; }
.omg-eyeem:before { content: "\e051"; }
.omg-fastmail:before { content: "\e001"; }
.omg-fediverse:before { content: "\e053"; }
.omg-geotastic:before { content: "\e056"; }
.omg-giphy:before { content: "\e002"; }
.omg-gumroad:before { content: "\e003"; }
.omg-hackerone:before { content: "\e004"; }
.omg-hey:before { content: "\e054"; }
.omg-honk:before { content: "\e005"; }
.omg-instapaper:before { content: "\e055"; }
.omg-keyoxide:before { content: "\e006"; }
.omg-ko-fi:before { content: "\e060"; }
.omg-liberapay:before { content: "\e008"; }
.omg-lichess:before { content: "\e009"; }
.omg-litecoin:before { content: "\e010"; }
.omg-literal:before { content: "\e011"; }
.omg-lobsters:before { content: "\e012"; }
.omg-matrix:before { content: "\e013"; }
.omg-mediawiki:before { content: "\e065"; }
.omg-musicboard:before { content: "\e014"; }
.omg-myanimelist:before { content: "\e015"; }
.omg-ninegag:before { content: "\e043"; }
.omg-nintendo-switch:before { content: "\e016"; }
.omg-notion:before { content: "\e017"; }
.omg-opensea:before { content: "\e018"; }
.omg-osk:before { content: "\e019"; }
.omg-osu:before { content: "\e057"; }
.omg-pinboard:before { content: "\e020"; }
.omg-plutonium:before { content: "\e021"; }
.omg-polywork:before { content: "\e022"; }
.omg-postype:before { content: "\e023"; }
.omg-prami:before { content: "\e042"; }
.omg-procreate:before { content: "\e059"; }
.omg-pronounspage:before { content: "\e058"; }
.omg-rainbow-me:before { content: "\e024"; }
.omg-rarible:before { content: "\e025"; }
.omg-ravencoin:before { content: "\e026"; }
.omg-revue:before { content: "\e027"; }
.omg-roblox:before { content: "\e028"; }
.omg-session:before { content: "\e062"; }
.omg-signal-app:before { content: "\e029"; }
.omg-sourcehut:before { content: "\e066"; }
.omg-spacehey:before { content: "\e030"; }
.omg-spark-ar:before { content: "\e031"; }
.omg-tetrio:before { content: "\e032"; }
.omg-threema:before { content: "\e033"; }
.omg-tinyletter:before { content: "\e034"; }
.omg-toss:before { content: "\e035"; }
.omg-venmo:before { content: "\e036"; }
.omg-verified:before { content: "\e063"; }
.omg-vero:before { content: "\e037"; }
.omg-wattpad:before { content: "\e038"; }
.omg-well:before { content: "\e039"; }
.omg-wikimedia-community:before { content: "\e064"; }
.omg-writeas:before { content: "\e040"; }
.omg-xmpp:before { content: "\e041"; }
.omg-codeberg:before { content: "\e073"; }
.omg-sudomemo:before { content: "\e067"; }
.omg-rate-your-music:before { content: "\e068"; }
.omg-read-cv:before { content: "\e069"; }
.omg-revolt:before { content: "\e070"; }
.omg-vukky:before { content: "\e071"; }
.omg-laker:before { content: "\e072"; }
.omg-neatnik:before { content: "\e074"; }
.omg-credly:before { content: "\e075"; }
.omg-pixelfed:before { content: "\e076"; }
.omg-passkey:before { content: "\e077"; }
.omg-ecosia:before { content: "\e078"; }
.omg-mltshp:before { content: "\e080"; }
.omg-andycarolan:before { content: "\e081"; }
.omg-cohost:before { content: "\e082"; }
.omg-json-feed:before { content: "\e083"; }
.omg-zioibi:before { content: "\e084"; }
.omg-fandom:before { content: "\e085"; }
.omg-tor:before { content: "\e086"; }
.omg-niconico:before { content: "\e087"; }
.omg-robb:before { content: "\e088"; }
.omg-bunny-omg-lol:before { content: "\e089"; }
.omg-prami-staff:before { content: "\e090"; }
.omg-peertube:before { content: "\e091"; }
.omg-trakt:before { content: "\e092"; }
.omg-buttondown:before { content: "\e093"; }
.omg-tellonym:before { content: "\e094"; }
.omg-savvycal:before { content: "\e095"; }
.omg-oku:before { content: "\e096"; }
.omg-open-source-hardware:before { content: "\e097"; }
.omg-bunny-net:before { content: "\e098"; }
.omg-framework:before { content: "\e099"; }
.omg-songish:before { content: "\e100"; }
.omg-proven:before { content: "\e101"; }
.omg-boardgamegeek:before { content: "\e102"; }
.omg-home-assistant:before { content: "\e103"; }
.omg-dreamwidth:before { content: "\e104"; }
.omg-gog:before { content: "\e105"; }
.omg-bananas:before { content: "\e106"; }
.omg-banana:before { content: "\e107"; }
.omg-banano:before { content: "\e108"; }
.omg-vsco:before { content: "\e109"; }
.omg-byemc:before { content: "\e110"; }
.omg-lemmy:before { content: "\e111"; }
.omg-bookwyrm:before { content: "\e112"; }
.omg-funkwhale:before { content: "\e113"; }
.omg-sarajoy:before { content: "\e114"; }
.omg-discord-online:before { content: "\e115"; }
.omg-discord-offline:before { content: "\e116"; }
.omg-discord-idle:before { content: "\e117"; }
.omg-discord-dnd:before { content: "\e118"; }
.omg-atari:before { content: "\e120"; }
.omg-kbin:before { content: "\e121"; }
.omg-os2:before { content: "\e122"; }
.omg-misskey:before { content: "\e123"; }
.omg-x-com:before { content: "\e124"; }
.omg-firefish:before { content: "\e125"; }
.omg-creativepool:before { content: "\e126"; }
.omg-pebble:before { content: "\e127"; }
.omg-pokeball:before { content: "\e128"; }
.omg-probably-blog:before { content: "\e129"; }
.omg-probably-fm:before { content: "\e130"; }
.omg-ooni:before { content: "\e131"; }
.omg-nebula:before { content: "\e132"; }
.omg-nuthatch:before { content: "\e133"; }
.omg-bluesky:before { content: "\e134"; }
.omg-playdate:before { content: "\e135"; }
.omg-peloton:before { content: "\e136"; }
.omg-eighteen-plus:before { content: "\e137"; }
.omg-bento:before { content: "\e138"; }
.omg-sewing-machine:before { content: "\e139"; }
.omg-thread-needle:before { content: "\e140"; }
.omg-thread-spool:before { content: "\e141"; }
.omg-yarn-ball:before { content: "\e142"; }
.omg-knitting-needle:before { content: "\e143"; }
.omg-crochet-hook:before { content: "\e144"; }
.omg-neovim:before { content: "\e145"; }
.omg-statamic:before { content: "\e147"; }
.omg-obsidian:before { content: "\e148"; }
.omg-three-arrows:before { content: "\e149"; }
.omg-onepassword:before { content: "\e150"; }
.omg-daisydisk:before { content: "\e151"; }
.omg-raycast:before { content: "\e152"; }
.omg-arc-browser:before { content: "\e153"; }
.omg-pro-tools:before { content: "\e154"; }
.omg-bereal:before { content: "\e155"; }
.omg-puzzmo:before { content: "\e156"; }
.omg-joplin:before { content: "\e157"; }
.omg-mahjong:before { content: "\e158"; }
.omg-crunchyroll:before { content: "\e159"; }
.omg-lego:before { content: "\e160"; }
.omg-fediverse-alt:before { content: "\e161"; }
.omg-rec-room:before { content: "\e162"; }
.omg-byecorps-id:before { content: "\e163"; }
.omg-raindrop-io:before { content: "\e164"; }
.omg-letterboxd:before { content: "\e007"; }
.omg-threads:before { content: "\e119"; }
.omg-laravel:before { content: "\e146"; }
